$headerBackground: #fff159;
$blueStandar: #3483fa;
$blueStandarHover:#1668e4;
$blueDark:#1259c3;
$blueDarkHover:#104492;
$blueLigth:rgba(65,137,230,.15);
$blueLigthHover:rgba(65, 137, 230, 0.253);
$redDark:#c31212;
$redLigth:rgba(230, 65, 65, 0.15);
$redLigthHover:rgba(230, 65, 65, 0.253);
$greyStandar: #d1d1d154