@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  font-family: "Poppins";
}

*::-webkit-scrollbar {
  display: none;
}

img::selection, i::selection, svg::selection {
  background: none;
}

button, a {
  cursor: pointer !important;
}

body {
  background: #151515;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  font-family: "Poppins";
}

*::-webkit-scrollbar {
  display: none !important;
}

img::selection, i::selection, svg::selection {
  background: none;
}

button, a {
  cursor: pointer !important;
}

body {
  background: #e4e4e4;
}

body > .container {
  width: 100%;
}

.containerNav {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
.containerNav .navLinks {
  background-color: rgb(154, 154, 154);
  width: 100%;
}
.containerNav .navLinks ul {
  background: rgba(65, 137, 230, 0.15);
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  height: 100%;
}
.containerNav .navLinks ul li {
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(209, 209, 209, 0.3921568627);
}
.containerNav .navLinks ul li a {
  height: 100%;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 7px;
}

.containerFooter {
  background: rgba(65, 137, 230, 0.15);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}
.containerFooter .footerLinks {
  width: 100%;
}
.containerFooter .footerLinks ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.containerFooter .footerLinks ul li {
  align-items: center;
  padding: 10px;
}
.containerFooter .footerLinks ul li a {
  height: 100%;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 7px;
}
.containerFooter .subtitleFooter h4 {
  font-size: small;
}

.chatContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatContainer > .chat {
  width: 600px;
  background: white;
  height: 600px;
  border-radius: 6px;
  padding: 50px 50px 20px;
}
.chatContainer > .chat .messages {
  width: 100%;
  height: 92%;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chatContainer > .chat .messages::-webkit-scrollbar {
  display: none;
}
.chatContainer > .chat .messages .messageContainer {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: flex-start;
}
.chatContainer > .chat .messages .messageContainer.recieved {
  align-self: flex-start;
}
.chatContainer > .chat .messages .messageContainer.sent {
  align-self: flex-end;
}
.chatContainer > .chat .messages .messageContainer > figure {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatContainer > .chat .messages .messageContainer > figure img {
  width: 33px;
  height: 33px;
}
.chatContainer > .chat .messages .messageContainer > figure span {
  font-size: 9px;
  color: rgb(120, 120, 120);
}
.chatContainer > .chat .messages .messageContainer > .messageRecieved {
  padding: 6px 16px;
  border-radius: 20px;
  text-align: left;
  width: max-content;
  color: #000000;
  background: rgba(209, 209, 209, 0.3921568627);
  align-self: flex-start;
  order: 2;
  font-size: 14px;
  max-width: 415px;
  overflow-wrap: break-word;
}
.chatContainer > .chat .messages .messageContainer > .messageSent {
  color: #ffffff;
  background: #3483fa;
  padding: 6px 16px;
  border-radius: 20px;
  text-align: left;
  width: max-content;
  align-self: flex-start;
  font-size: 14px;
  max-width: 415px;
  overflow-wrap: break-word;
}
.chatContainer > .chat .newMessage {
  margin-top: 8px;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  gap: 9px;
}
.chatContainer > .chat .newMessage textarea {
  resize: none;
  border: none;
  outline: none;
  background: rgba(209, 209, 209, 0.3921568627);
  border-radius: 6px;
  width: 75%;
  height: 100%;
  padding: 14px 5px 0 15px;
  color: black;
  overflow-wrap: break-word;
  max-width: 374px;
}
.chatContainer > .chat .newMessage textarea:focus {
  outline: 2px solid #3483fa;
}
.chatContainer > .chat .newMessage textarea:focus::placeholder {
  color: #000000;
}
.chatContainer > .chat .newMessage button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  border-radius: 6px;
  background: #3483fa;
  color: #ffffff;
}
.chatContainer > .chat .newMessage button:hover {
  background: #1668e4;
}

.containerCard {
  background-color: white;
  width: 250px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.containerCard .cardImg {
  padding: 15px;
  border-bottom: 1px solid rgb(193, 193, 193);
}
.containerCard .cardImg img {
  width: 200px;
}
.containerCard .cardInfo {
  padding: 10px;
}
.containerCard .cardInfo h2 {
  color: rgb(19, 19, 19);
  padding-bottom: 10px;
}
.containerCard .cardInfo h4 {
  color: rgb(33, 33, 33);
  padding-bottom: 11px;
}
.containerCard .cardInfo p {
  color: rgb(33, 33, 33);
}

.divider {
  background-color: rgb(192, 192, 192);
  width: 100%;
  height: 100px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.containerCards {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/*# sourceMappingURL=main.css.map */
