<section class="chatContainer">
    <section class="chat">
        <div id="messages" class="messages">
        </div>
        <form id="newMessage" class="newMessage">
            <textarea autocomplete="off" placeholder="type..." id="message" type="text" name="message"></textarea>
            <button type="submit">Send</button>
        </form>
    </section>
</section>