<section class="productContainer">
    <section class="productSection">
        <div id="" class="">
        </div>
        <form id="newProductForm" method="POST" action="/api/product" class="">
            <input autocomplete="off" placeholder="Please insert title" id="title" type="text" required="true"  name="title"></input>
            <input autocomplete="off" placeholder="Please insert a thumnail URL" id="img" type="text" required="true" name="thumbnail"></input>
            <input autocomplete="off" placeholder="Please insert price" id="price" type="text" required="true" name="price"></input>
            <textarea autocomplete="off" placeholder="Please, be nicely and share with us some information about your product." id="description" type="text" required="true" name="description"></textarea>
            <button type="submit">Send</button>
        </form>
    </section>
</section>