<div class="containerFooter">
<div class="footerLinks">
    <ul>
        <li>
            <a href="http://">Home</a>
        </li>
    
        <li>
            <a href="http://">Chat</a>
        </li>
   
        <li>
            <a href="http://">All products</a>
        </li>
   
        <li>
            <a href="http://">Random products</a>
        </li>
    </ul>


</div>
<div class="subtitl">
    <h4>
        Back end 
    </h4>
</div>
</div>