<div class="containerNav">
<div class="navLinks">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/chat">Chat</a>
        </li>
        <li>
            <a href="/">All products</a>
        </li>
        <li>
            <a href="/randomProducts">Random products</a>
        </li>
        <li>
            <a href="/createObject">Create Object</a>
        </li>
    </ul>
</div>
</div>  