<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back end</title>


    {{!-- Custom css --}}
    <link rel="stylesheet" href="/css/main.css">

      {{!-- fontawesome --}}
    <script src="https://kit.fontawesome.com/53d40d2367.js" crossorigin="anonymous"></script>
    
</head>

<body>



    <main class="container">
        {{{body}}}
    </main>


    {{!-- Socket Script --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.socket.js"></script>
    <script src="/js/forms.js"></script>
</body>

</html>